.displayNone {
    display: none;
}
.textCenter {
    text-align: center;
}
.textRed {
    color: red;
}
.colorGray {
    color: gray;
}
.textWhite {
    color: white;
}
.cursorPointer {
    cursor: pointer;
}
.boldText {
    font-weight: bold;
}
.standardFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.paddingTopBottomFifty {
    padding-top: 50px;
    padding-bottom: 50px;
}
.paddingLeftRightTwenty {
    padding-left: 20px;
    padding-right: 20px;
}
.paddingLeftRightTen {
    padding-left: 10px;
    padding-right: 10px;
}
.marginLeftRightTwenty {
    margin-left: 20px;
    margin-right: 20px;
}
.fontSizeFourty {
    font-size: 40px;
}
.marginBottomZero {
    margin-bottom: 0;
}
.marginTopBottomFifty {
    margin-top: 50px;
    margin-bottom: 50px;
}
body {
    background-image: url("backgroundThree.jpg");
}
input:-webkit-autofill {
    border-radius: 4px !important;
    padding-left: 3px !important;
}
.title {
    font-size: 24px;
    font-weight: 300;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.nav-wrapper {
    background-color: #333;
}
.brand-logo {
    padding-left: 15px !important;
}
@media only screen and (max-width: 992px) {
    .brand-logo {
        padding-left: 0 !important;
    }
}
.navi-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideNav {
    position: fixed;
    width: 280px;
    right: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}
.sideBarVisible {
    transform: translateX(0);
    animation-name: toggleNav;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}
@keyframes toggleNav {
    from {right: -105%;}
    to {right: 0;}
}
.sideNav a {
    color: black;
}
.brand-logo {
    margin: 0;
}
.productListMain, .productSuggestedList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.card {
    width: 320px;
    margin: 0 10px 20px 10px;
    cursor: pointer;
    overflow-y: hidden;
    border-radius: 4px;
    background-color: rgb(245, 250, 244);
    overflow: hidden !important;
}
img, .image-gallery-image, .image-gallery-slide, .image-gallery-slides, .image-gallery-swipe, .image-gallery-slide-wrapper, .image-gallery-content, .image-gallery {
    border-radius: 4px;
}
.card img, .image-gallery-image, .card .image-gallery-slide, .card .image-gallery-slides, .card .image-gallery-swipe, .card .image-gallery-slide-wrapper, .card .image-gallery-content, .card .image-gallery {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.image-gallery-thumbnail.active {
    border: 2px solid gray !important;
    border-radius: 4px;
}
.card:hover {
    background-color: #f5f5f5;
}
.cardInfo {
    margin-left: 5px;
}
.price-big {
    font-size: 18px;
    font-weight: bold;
}
.price-small {
    text-decoration: line-through;
    margin-left: 10px;
}
.price-shipping {
    color: gray;
    margin-left: 10px;
}
.cartShortcutBtn {
    position: relative;
    top: -20px;
    right: 10px;
    z-index: 100;
}
.cartShortcutBtn:active {
    background-color: gray !important;
}
.cartShortcutBtnIcon {
    color: black !important;
}
.backButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    color: rgb(3, 155, 229);
}
i.backArrow {
    color: rgb(3, 155, 229);
}
.starRatingRow {
    display: flex;
    align-items: center;
}
#cardStar {
    font-size: 16px;
}
.sizes span, .colors span {
    padding: 15px 10px;
}
.sizes label, .colors label {
    padding-left: 22px;
}
.selectImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.imageSelectFigure {
    margin: 5px;
    position: relative;
}
.imgSelect {
    width: 150px;
    height: 120px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 0;
    width: 150px;
    cursor: pointer;
    text-align: center;
}
.cancelImageSelect {
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
}
.addProductForm {
    padding: 20px;
    background-color: rgb(245, 250, 244);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.adminProductView {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminDeleteProductIcon {
    cursor: pointer;
}
.image-gallery-right-nav, .image-gallery-left-nav {
    font-size: 2em !important;
}
.image-gallery-right-nav:focus, .image-gallery-left-nav:focus, .image-gallery-fullscreen-button:focus {
    background: transparent;
}
.cardReveal {
    padding: 0px 24px 15px 24px;
    position: absolute;
    background-color: rgb(245, 250, 244);
    width: 100%;
    height: 100%;
    top: 101%;
    border-radius: 4px;
    z-index: 101;
    cursor: auto;
}
.cardTwoVisible {
    /*display: block;*/
    animation-name: revealCardTwo;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}
@keyframes revealCardTwo {
    from {top: 101%}
    to {top: 0}
}
.cardTwoInvisible {
    /*display: block;*/
    animation-name: hideCardTwo;
    animation-duration: 0.3s;
    animation-fill-mode:forwards;
}
@keyframes hideCardTwo {
    from {top: 0}
    to {top: 101%}
}
.sizeSelectorList, .colorSelectorList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sizeSelectorList li, .colorSelectorList li {
    border: 1px solid gray;
    color: gray;
    font-size: 20px;
    width: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
}
.colorSelectorList li {
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
    min-width: 60px;
}
.smallColorIcons li {
    font-size: 16px;
}
.checkoutButtonWrapper {
    /*position: absolute;*/
    bottom: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.moreInfoIcon {
    padding: 2px 15px 2px 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
#oneSizeFitsAll {
    border: none;
    width: auto;
    cursor: auto;
}
.cardLabelSmall {
    font-size: 14px;
    color: gray;
    position: absolute;
}
.productBuy .sizeSelectorList, .productBuy .colorSelectorList {
    justify-content: center;
}
.backButtonContainer {
    display: flex;
    align-items: center;
    top: 17px;
    position: relative;
}
@media only screen and (max-width: 992px) {
    .backButtonContainer {
        top:0;
    }
}
.checkoutButtonWrapperProductView {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.activeBox {
    border: 1px solid rgb(38, 166, 154) !important;
    background-color: rgba(38, 166, 154, 0.2);
}
.reviewHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.reviewHeaderStar, .reviewHeaderStarToReview {
    width: 24px;
}
.reviewHeaderStarToReview {
    color: #26A69A;
    cursor: pointer;
}
.reviewCount {
    color: gray;
    padding-left: 10px;
    position: relative;
    top: -5px;
}
.reviewSubmit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.ReviewStarListItem {
    display: inline-block;
}
.ReviewStarList {
    padding-right: 10px;
}
.starsWrapper {
    display: inline-block;
    position: relative;
    top: 4px;
}
.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartItemTitle {
    margin: 5px 0 10px 0;
}
.cartItemImg {
    width: 55px;
    height: 47px;
    border-radius: 2px;
}
.cartTotalTag {
    padding-right: 10px;
}
.smallCartItem {
    padding: 10px;
    background: rgb(245, 250, 244);
    border-radius: 4px;
    margin-bottom: 10px;
}
.cartTable {
    background-color: rgb(245, 250, 244);
    border-radius: 4px;
}
.smallCartLastRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.quantitySelector {
    display: flex;
    align-items: center;
}
.cartArrow {
    color: #26A69A;
    cursor: pointer;
}
.cartQuantity {
    position: relative;
    top: -6px;
}
@media only screen and (max-width: 787px) {
    .cartSmallFont {
        font-size: 12px;
    }
}
.cartCheckoutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background: rgb(245, 250, 244);
    border-radius: 4px;
}
.cartCheckoutSectionSmall {
    flex-direction: column;
}
.cart {
    padding-bottom: 50px;
}
.productDetail {
    background-color: rgb(245, 250, 244);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.productDetailTop form {
    color: black;
}
.collection, .collection-item, .adminProductViewHeading {
    background-color: rgb(245, 250, 244) !important;
}
.checkOutForm {
    background-color: rgb(245, 250, 244);
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.checkoutListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderSummary {
    font-size: 24px;
    font-weight: 300;
}
.orderSummary p {
    margin-top: 10px;
    text-align: center;
}
.homeImg {
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.accountLabel {
    position: relative;
    top: -20px;
}
.orderHistoryList {
    border-radius: 4px;
}
.expMonthAndYearSelector, .expMonthAndYear {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.expirationLabel {
    position: relative;
    top: 15px;
}
.cvvInput {
    margin-left: 15px;
}
.badge {
    cursor: pointer;
}
.expSelectorList li {
    cursor: pointer;
}
.smallProgress {
    width: 160px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 10px;
}
@media only screen and (max-width: 527px) {
    .orderIdClass {
        font-size: 12px;
    }
    .orderIdLabel {
        display: none;
    }
}
.adminOrderHeader {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 440px) {
    .adminOrderHeader {
        flex-direction: column;
    }
    .orderIdLabel {
        display: inline;
    }
}
@media only screen and (max-width: 375px) {
    .adminOrderListItem {
        font-size: 12px;
    }
}
.search-form {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0;
    background-color: rgb(245, 250, 244);
    padding: 5px;
    border-radius: 5px;
}
.searchIcon {
    margin-bottom: 17px;
    padding-right: 5px;
}
.search-form-list {
    position: absolute;
    margin-top: -10px;
    left: 0;
    right: 0;
    z-index: 101;
    border: none;
    background: transparent !important;
}
.search-form-list li {
    padding: 5px 15px 5px 15px !important;
    border: 1px solid rgb(213, 213, 211) !important;
    cursor: pointer;
}
.search-form-list li:hover {
    font-weight: bold;
}
.search-form-list li:first-child { 
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.search-form-list li:last-child { 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.search-form-list li:nth-child(odd) {
    background: rgb(213, 213, 211) !important;
}
.search-form-list li:nth-child(even) {
    background: rgb(233, 237, 232) !important;
}
.contactUsForm, .adminSuppDocForm {
    background: rgb(233, 237, 232);
    border-radius: 4px;
    padding: 15px 15px;
}
.whyUsWrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 850px) {
    .whyUsWrapper {
        flex-direction: column;
    }
}
.whyUs {
    padding: 10px;
    background-color: rgb(233, 237, 232);
    margin: 10px;
    border-radius: 4px;
    flex: 1;
    max-width: 400px;
}
.aboutSection, .policySection, .shippingAndReturnsSection {
    padding: 10px;
    background-color: rgb(233, 237, 232);
    margin: 10px 0 50px 0;
    border-radius: 4px;
}